body {
    margin: 0px 0px 360px 0px;
    /* the extra 1px allows the iOS inner/outer check to work */
    background-color: #020100;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background:linear-gradient(to bottom, #33ccff 0%, #0033cc 100%);
}

body.initialized {
    background-color: #699519;
    /* background-image: url(../img/bg_tile.png); */
    background-repeat: repeat;
    background-size: 300px 300px;
}

@font-face {
    font-family: "Lobster";
    src: url("../fonts/Lobster.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Hides video play button (aka "The Orb") in Webkit browsers (e.g. iOS Safari 10.3) */

*::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#gameFontPreload {
    position: fixed;
    left: -1000px;
    top: -1000px;
    visibility: hidden;
}

#gbMsg {
    position: absolute;
    text-shadow: 0px 1px 5px #000000;
    width: 100%;
    height: 3%;
    top: 97%;
    padding-top: 0.5%;
    color: white;
    font-family: Verdana;
    font-size: 1.5vh;
    text-align: center;
    background: linear-gradient(rgba(0, 84, 166, 0), rgba(0, 84, 166, 0.5));
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                            supported by Chrome and Opera */
}

#gbMsgLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.gbMsgHidden {
    opacity: 0;
}

#xpromoOverlay {
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    top: 0%;
    left: 0%;
    display: block;
}

#xpromoVideoContainer {
    position: absolute;
    width: 640px;
    height: 640px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
}

#xpromoVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    cursor: pointer;
}
